@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(232, 232, 232);
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Assistant;
}
header .navDiv {
  width: 95%;
  min-height: 80px;
  border: 7px solid #7A4D9E;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
header .navDiv .nnnnn {
  width: 100%;
}
header .navDiv .nnnnn img {
  width: 100px;
  margin-right: 20px;
}
header .navDiv .nnnnn .inpBtn {
  width: 45%;
  margin-left: 20px;
}
header .navDiv .nnnnn .inpBtn input {
  width: 75%;
  min-height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 20px;
  border: 2px solid #7A4D9E;
  color: #7A4D9E;
}
header .navDiv .nnnnn .inpBtn #searc {
  width: 20%;
  min-height: 40px;
  border: none;
  color: white;
  background-color: #7A4D9E;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Assistant;
  font-weight: 800;
}
header .navDiv .nnnnn .inpBtn #searc:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.05);
}
header .navDiv .nnnnn ul {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
header .navDiv .nnnnn ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .navDiv .nnnnn ul li i {
  color: #7A4D9E;
  font-size: 25px;
}
header .navDiv .nnnnn ul .btnDiv {
  text-align: center;
}
header .navDiv .nnnnn ul .btnDiv button {
  width: 80px;
  border: none;
  background-color: white;
  color: #7A4D9E;
  margin-top: 20px;
}
header .navDiv .nnnnn ul .btnDiv button i {
  font-size: 25px;
}

@media screen and (max-width: 540px) {
  header .navDiv .nnnnn img {
    margin-right: 0px;
  }
  header .navDiv .nnnnn .inpBtn {
    margin-left: 0px;
  }
  header .navDiv .nnnnn .inpBtn #searc {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  header .navDiv .nnnnn ul .btnDiv button {
    width: 80%;
  }
}
#startCarousel {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#startCarousel .startCarousel {
  width: 95%;
}

#data {
  width: 100%;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#data .prodacts {
  width: 95%;
  padding-left: 20px;
}
#data .prodacts #btn {
  border-radius: 10px;
  font-family: Assistant;
  background-color: #7A4D9E;
  color: white;
  font-weight: 800;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 130px;
  min-height: 35px;
  border: none;
}
#data .prodacts #btn i {
  color: white;
  margin-left: 10px;
}
#data .prodacts #btn:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.3);
}
#data .prodacts #myApi {
  width: 100%;
  margin-bottom: 20px;
}
#data .prodacts #myApi .myBox {
  text-align: center;
  color: #7A4D9E;
  font-family: Assistant;
  margin-top: 20px;
}
#data .prodacts #myApi .myBox .div {
  width: 100%;
  border: 0.3px solid rgb(182, 182, 182);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
#data .prodacts #myApi .myBox .div:hover {
  transform: scale(1.1);
}
#data .prodacts #myApi .myBox .div img {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#data .prodacts #myApi .myBox .div div {
  margin-top: 10px;
  margin-bottom: 10px;
}
#data .prodacts #myApi .myBox .div div i {
  color: #FFC000;
  font-size: 10px;
}
#data .prodacts #myApi .myBox .div .button {
  width: 100px;
  min-height: 35px;
  border-radius: 10px;
  background-color: #7A4D9E;
  color: white;
  border: 2px solid white;
  margin-bottom: 10px;
}
#data .prodacts #myApi .myBox .div .button:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.1);
}
#data .prodacts #myApi .myBox .div .btn {
  border: none;
  color: red;
  font-size: 25px;
}
#data .prodacts #myApi .myBox .div .btn:hover {
  transform: scale(1.1);
  color: black;
}

#holidays {
  width: 100%;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#holidays .holidays {
  width: 95%;
}
#holidays .holidays .ideas {
  margin-top: 20px;
  transition: transform 0.3s ease;
  position: relative;
}
#holidays .holidays .ideas:hover {
  transform: scale(1.1);
}
#holidays .holidays .ideas img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

#animationClothes {
  width: 100%;
  min-height: 600px;
  margin-top: 30px;
  background-image: url("https://www.ironitekstil.com/ContentImages/Banner/ssite.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: animateBackground 20s linear infinite;
}
#animationClothes .animationClothes {
  width: 100%;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#animationClothes .animationClothes div {
  text-align: center;
}
#animationClothes .animationClothes div h1 {
  font-size: 180px;
  font-weight: 800;
  font-family: serif;
}
#animationClothes .animationClothes div h2 {
  font-size: 80px;
  font-weight: 700;
  font-family: serif;
}

@media screen and (max-width: 721px) and (min-width: 541px) {
  #animationClothes {
    min-height: 500px;
  }
  #animationClothes .animationClothes {
    min-height: 500px;
  }
  #animationClothes .animationClothes div h1 {
    font-size: 135px;
    font-weight: 700;
  }
  #animationClothes .animationClothes div h2 {
    font-size: 65px;
    font-weight: 600;
  }
}
@media screen and (max-width: 540px) {
  #animationClothes {
    min-height: 400px;
  }
  #animationClothes .animationClothes {
    min-height: 400px;
  }
  #animationClothes .animationClothes div h1 {
    font-size: 100px;
    font-weight: 700;
  }
  #animationClothes .animationClothes div h2 {
    font-size: 45px;
    font-weight: 600;
  }
}
@keyframes animateBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
#coupon {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#coupon .coupon {
  width: 95%;
}
#coupon .coupon .collactibles {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-family: Assistant;
  color: #7A4D9E;
}
#coupon .coupon img {
  width: 100%;
  margin-top: 20px;
}

#girlAndBoyCollection {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 30px;
}
#girlAndBoyCollection .girlAndBoyCollection {
  width: 95%;
  background-color: white;
}
#girlAndBoyCollection .girlAndBoyCollection .girlAndBoy img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox {
  text-align: center;
  color: #7A4D9E;
  font-family: Assistant;
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div {
  width: 100%;
  margin-bottom: 20px;
  border: 0.3px solid rgb(182, 182, 182);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div:hover {
  transform: scale(1.1);
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div img {
  width: 100%;
  height: 147px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div div i {
  color: #FFC000;
  font-size: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div div p {
  color: #FFC000;
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div .button {
  width: 100px;
  min-height: 35px;
  border-radius: 10px;
  background-color: #7A4D9E;
  color: white;
  border: 2px solid white;
  margin-bottom: 10px;
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div .button:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.1);
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div .btn {
  border: none;
  color: red;
  font-size: 25px;
}
#girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div .btn:hover {
  transform: scale(1.1);
  color: black;
}

@media screen and (max-width: 1201px) {
  #girlAndBoyCollection .girlAndBoyCollection #getDataDiv .myBox .div img {
    height: 80px;
  }
}
#catagory {
  width: 100%;
  min-height: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#catagory .catagory {
  width: 95%;
}
#catagory .catagory .ideas {
  margin-top: 20px;
  transition: transform 0.3s ease;
  position: relative;
}
#catagory .catagory .ideas:hover {
  transform: scale(1.1);
}
#catagory .catagory .ideas img {
  width: 100%;
  border-radius: 10px;
}

#newDesign {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 30px;
}
#newDesign .newDesign {
  width: 95%;
}
#newDesign .newDesign .clothesAndElectronica {
  width: 100%;
  border: 0.3px solid rgb(178, 178, 178);
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#newDesign .newDesign .clothesAndElectronica img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#newDesign .newDesign .clothesAndElectronica h5 {
  color: #7A4D9E;
  font-family: Assistant;
}
#newDesign .newDesign .clothesAndElectronica h6 {
  color: #7A4D9E;
  font-family: Assistant;
}
#newDesign .newDesign .clothesCarousel {
  margin-top: 20px;
  width: 100%;
  min-height: 540px;
}
#newDesign .newDesign .clothesCarousel img {
  width: 100%;
  height: 540px;
  border-radius: 10px;
}

@media screen and (max-width: 721px) and (min-width: 541px) {
  #newDesign .newDesign .clothesCarousel img {
    height: 400px;
  }
}
@media screen and (max-width: 540px) {
  #newDesign .newDesign .clothesCarousel img {
    height: 300px;
  }
}
#prodacts {
  width: 100%;
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#prodacts .prodacts {
  width: 95%;
  padding-left: 20px;
}
#prodacts .prodacts #btn {
  border-radius: 10px;
  font-family: Assistant;
  background-color: #7A4D9E;
  color: white;
  font-weight: 800;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 130px;
  min-height: 35px;
  border: none;
}
#prodacts .prodacts #btn i {
  color: white;
  margin-left: 10px;
}
#prodacts .prodacts #btn:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.3);
}
#prodacts .prodacts #myBtn {
  border-radius: 10px;
  font-family: Assistant;
  background-color: #7A4D9E;
  color: white;
  font-weight: 800;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 130px;
  min-height: 35px;
  border: none;
}
#prodacts .prodacts #myBtn i {
  color: white;
  margin-left: 10px;
}
#prodacts .prodacts #myBtn:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.3);
}
#prodacts .prodacts #myDiv {
  width: 100%;
  margin-bottom: 20px;
}
#prodacts .prodacts #myDiv .myBox {
  text-align: center;
  color: #7A4D9E;
  font-family: Assistant;
  margin-top: 20px;
}
#prodacts .prodacts #myDiv .myBox .div {
  width: 100%;
  border: 0.3px solid rgb(182, 182, 182);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
#prodacts .prodacts #myDiv .myBox .div:hover {
  transform: scale(1.1);
}
#prodacts .prodacts #myDiv .myBox .div img {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#prodacts .prodacts #myDiv .myBox .div div {
  margin-top: 10px;
  margin-bottom: 10px;
}
#prodacts .prodacts #myDiv .myBox .div div i {
  color: #FFC000;
  font-size: 10px;
}
#prodacts .prodacts #myDiv .myBox .div .button {
  width: 100px;
  min-height: 35px;
  border-radius: 10px;
  background-color: #7A4D9E;
  color: white;
  border: 2px solid white;
  margin-bottom: 10px;
}
#prodacts .prodacts #myDiv .myBox .div .button:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.1);
}
#prodacts .prodacts #myDiv .myBox .div .btn {
  border: none;
  color: red;
  font-size: 25px;
}
#prodacts .prodacts #myDiv .myBox .div .btn:hover {
  transform: scale(1.1);
  color: black;
}

#genres {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#genres .contai {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#genres .contai .card {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  margin-top: 20px;
}
#genres .contai .card:hover {
  transform: scale(1.1);
}
#genres .contai .card .text {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
#genres .contai .card .text h2 {
  font-size: 23px;
  font-weight: 600;
  font-family: Sora;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}
#genres .contai .card .text img {
  width: 100%;
  height: auto;
  opacity: 1;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 14px 25px;
  text-transform: uppercase;
  transition: all 0.8s;
}

.red-btn {
  background: #7A4D9E;
  border: 2px solid #7A4D9E;
  color: #fff;
}
.red-btn:hover {
  background: #1c376c;
  color: #fff;
  border-color: #ffffff;
}

footer {
  background-color: #222023;
  background-image: linear-gradient(to bottom, #222023, #1e2c47);
  color: #fff;
  padding: 220px 0;
  font-size: 17px;
}
footer h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
footer h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 2px;
}
footer .about-footer li i {
  position: absolute;
  left: 0;
}
footer .about-footer li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 40px;
}
footer .about-footer ul {
  margin-top: 40px;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #7A4D9E;
}
footer .footer-title {
  border-bottom: 2px solid #7A4D9E;
  padding-bottom: 25px;
  margin-bottom: 35px;
}
footer ul.footer-social {
  float: right;
}
footer ul.footer-social li {
  display: inline;
  margin-right: 16px;
}
footer ul.footer-social li i {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #222025;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  font-size: 16px;
  transition: all 0.5s;
  font-weight: 800;
}
footer ul.footer-social li i:hover {
  background: #7A4D9E;
  color: #fff;
}
footer ul.footer-social li:last-child {
  margin-right: 0px;
}
footer .page-more-info li {
  margin-bottom: 31px;
}
footer .table td:first-child {
  font-weight: 600;
  padding-left: 33px;
}
footer .table td:last-child {
  text-align: right;
}
footer .table td {
  padding: 0px;
  border: 0;
}
footer .table td i {
  position: absolute;
  left: 0px;
  font-size: 21px;
  top: 6px;
}
footer .table td {
  position: relative;
  padding: 4px 0;
}
footer .footer-logo td {
  padding-right: 4px !important;
}
footer .footer-logo td:last-child {
  padding-right: 0px !important;
}
footer hr {
  border-color: #9294a0;
}
footer .footer-bottom p {
  text-align: right;
}
footer .footer-bottom {
  margin-top: 30px;
}
footer .open-hours hr {
  margin: 30px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#prodact {
  width: 100%;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-family: Assistant;
  color: #7A4D9E;
}
#prodact #detailDiv {
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#prodact #detailDiv .box {
  width: 100%;
}
#prodact #detailDiv .box .imges {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#prodact #detailDiv .box .imges img {
  width: 75%;
}
#prodact #detailDiv .box .imges img:hover {
  transform: scale(1.05);
}
#prodact #detailDiv .box .detailes {
  width: 100%;
}
#prodact #detailDiv .box .detailes .iii {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  font-size: 20px;
  border-bottom: 0.3px solid rgb(182, 182, 182);
  color: #FFC000;
}
#prodact #detailDiv .box .detailes .h5h5 {
  width: 60%;
  min-height: 150px;
  display: flex;
  align-items: center;
  color: black;
}
#prodact #detailDiv .box .detailes .h5h5 strong {
  font-size: 30px;
  color: #7A4D9E;
  font-weight: 700;
  font-family: Assistant;
}
#prodact #detailDiv .box .detailes .discount {
  width: 100%;
  min-height: 100px;
  color: black;
  display: flex;
  align-items: center;
  border-top: 0.3px solid rgb(182, 182, 182);
}
#prodact #detailDiv .box .detailes .discount strong {
  font-size: 30px;
  color: #7A4D9E;
  font-weight: 700;
  font-family: Assistant;
}
#prodact #detailDiv .box .detailes .price {
  width: 100%;
  min-height: 100px;
  color: black;
  display: flex;
  align-items: center;
  border-top: 0.3px solid rgb(182, 182, 182);
}
#prodact #detailDiv .box .detailes .price strong {
  font-size: 30px;
  color: #7A4D9E;
  font-weight: 700;
  font-family: Assistant;
}
#prodact #detailDiv .box .detailes .button {
  width: 100%;
  min-height: 125px;
  display: flex;
  align-items: center;
}
#prodact #detailDiv .box .detailes .button button {
  width: 80%;
  min-height: 50px;
  border: none;
  background-color: #7A4D9E;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  font-family: Assistant;
  font-weight: 800;
}
#prodact #detailDiv .box .detailes .button button:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.05);
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  #prodact #detailDiv .box .imges img {
    width: 100%;
  }
  #prodact #detailDiv .box .detailes .iii {
    min-height: 80px;
    font-size: 10px;
  }
  #prodact #detailDiv .box .detailes .h5h5 {
    font-size: 20px;
    min-height: 130px;
    width: 100%;
  }
  #prodact #detailDiv .box .detailes .h5h5 strong {
    font-size: 30px;
  }
  #prodact #detailDiv .box .detailes .discount {
    font-size: 20px;
    min-height: 90px;
  }
  #prodact #detailDiv .box .detailes .discount strong {
    font-size: 30px;
  }
  #prodact #detailDiv .box .detailes .price {
    font-size: 20px;
    min-height: 90px;
  }
  #prodact #detailDiv .box .detailes .price strong {
    font-size: 30px;
  }
}
@media screen and (max-width: 991px) and (min-width: 722px) {
  #prodact #detailDiv .box .imges img {
    width: 100%;
    height: 440px;
  }
  #prodact #detailDiv .box .detailes h3 {
    font-size: 30px;
  }
  #prodact #detailDiv .box .detailes .h5h5 {
    font-size: 10px;
    min-height: 110px;
  }
  #prodact #detailDiv .box .detailes .h5h5 strong {
    font-size: 20px;
  }
  #prodact #detailDiv .box .detailes .discount {
    font-size: 10px;
    min-height: 50px;
  }
  #prodact #detailDiv .box .detailes .discount strong {
    font-size: 20px;
  }
  #prodact #detailDiv .box .detailes .price {
    font-size: 10px;
    min-height: 50px;
  }
  #prodact #detailDiv .box .detailes .price strong {
    font-size: 20px;
  }
  #prodact #detailDiv .box .detailes .button {
    min-height: 50px;
  }
  #prodact #detailDiv .box .detailes .button button {
    min-height: 30px;
  }
}
@media screen and (max-width: 721px) and (min-width: 542px) {
  #prodact #detailDiv .box .imges img {
    width: 100%;
    height: 500px;
  }
  #prodact #detailDiv .box .detailes .iii {
    min-height: 50px;
    font-size: 20px;
  }
  #prodact #detailDiv .box .detailes h3 {
    font-size: 25px;
  }
  #prodact #detailDiv .box .detailes .h5h5 {
    font-size: 10px;
    min-height: 110px;
  }
  #prodact #detailDiv .box .detailes .h5h5 strong {
    font-size: 20px;
  }
  #prodact #detailDiv .box .detailes .discount {
    font-size: 10px;
    min-height: 30px;
  }
  #prodact #detailDiv .box .detailes .discount strong {
    font-size: 20px;
  }
  #prodact #detailDiv .box .detailes .price {
    font-size: 10px;
    min-height: 30px;
  }
  #prodact #detailDiv .box .detailes .price strong {
    font-size: 20px;
  }
  #prodact #detailDiv .box .detailes .button {
    min-height: 50px;
    font-size: 10px;
  }
  #prodact #detailDiv .box .detailes .button button {
    min-height: 25px;
  }
}
#pro {
  width: 100%;
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pro .pro {
  width: 95%;
  padding-left: 20px;
}
#pro .pro #btn {
  border-radius: 10px;
  font-family: Assistant;
  background-color: #7A4D9E;
  color: white;
  font-weight: 800;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 130px;
  min-height: 35px;
  border: none;
}
#pro .pro #btn i {
  color: white;
  margin-left: 10px;
}
#pro .pro #btn:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.3);
}
#pro .pro #myBtn {
  border-radius: 10px;
  font-family: Assistant;
  background-color: #7A4D9E;
  color: white;
  font-weight: 800;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 130px;
  min-height: 35px;
  border: none;
}
#pro .pro #myBtn i {
  color: white;
  margin-left: 10px;
}
#pro .pro #myBtn:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.3);
}
#pro .pro .prodacts {
  width: 100%;
  margin-bottom: 20px;
}
#pro .pro .prodacts .myBox {
  text-align: center;
  color: #7A4D9E;
  font-family: Assistant;
  margin-top: 20px;
}
#pro .pro .prodacts .myBox .div {
  width: 100%;
  border: 0.3px solid rgb(182, 182, 182);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
#pro .pro .prodacts .myBox .div:hover {
  transform: scale(1.1);
}
#pro .pro .prodacts .myBox .div img {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#pro .pro .prodacts .myBox .div div {
  margin-top: 10px;
  margin-bottom: 10px;
}
#pro .pro .prodacts .myBox .div div i {
  color: #FFC000;
  font-size: 10px;
}
#pro .pro .prodacts .myBox .div .button {
  width: 100px;
  min-height: 35px;
  border-radius: 10px;
  background-color: #7A4D9E;
  color: white;
  border: 2px solid white;
  margin-bottom: 10px;
}
#pro .pro .prodacts .myBox .div .button:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.1);
}
#pro .pro .prodacts .myBox .div .btn {
  border: none;
  color: red;
  font-size: 25px;
}
#pro .pro .prodacts .myBox .div .btn:hover {
  transform: scale(1.1);
  color: black;
}

#comment {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
}
#comment .kkmkmmk {
  width: 95%;
}
#comment .kkmkmmk .comment {
  width: 100%;
}
#comment .kkmkmmk .comment .productEvaluation {
  width: 100%;
  min-height: 100px;
  font-family: Assistant;
  color: #7A4D9E;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
#comment .kkmkmmk .comment .h2i {
  width: 100%;
  min-height: 100px;
  border: 0.3px solid rgb(192, 192, 192);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 20px;
}
#comment .kkmkmmk .comment .h2i i {
  color: #FFC000;
}
#comment .kkmkmmk #nameBookMessage {
  width: 100%;
  min-height: 400px;
}
#comment .kkmkmmk #nameBookMessage #chat-window {
  width: 100%;
  min-height: 300px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 0.3px solid rgb(192, 192, 192);
  border-left: 0.3px solid rgb(192, 192, 192);
  border-right: 0.3px solid rgb(192, 192, 192);
}
#comment .kkmkmmk #nameBookMessage #chat-window .commentDiv .div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#comment .kkmkmmk #nameBookMessage #chat-window .commentDiv .commentBtn {
  border: none;
  color: #7A4D9E;
  background-color: white;
}
#comment .kkmkmmk #nameBookMessage #chat-window .commentDiv .commentBtn:hover {
  color: black;
  font-weight: 800;
}
#comment .kkmkmmk #nameBookMessage #chat-window .commentDiv .likeBtn {
  border: none;
  background-color: white;
}
#comment .kkmkmmk #nameBookMessage .nameBookMessage {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 0.3px solid rgb(192, 192, 192);
  border-left: 0.3px solid rgb(192, 192, 192);
  border-right: 0.3px solid rgb(192, 192, 192);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 20px;
  background-color: white;
}
#comment .kkmkmmk #nameBookMessage .nameBookMessage div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: Assistant;
}
#comment .kkmkmmk #nameBookMessage .nameBookMessage div #name {
  width: 250px;
  min-height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0.3px solid rgb(192, 192, 192);
}
#comment .kkmkmmk #nameBookMessage .nameBookMessage div #book {
  border: 0.3px solid rgb(192, 192, 192);
}
#comment .kkmkmmk #nameBookMessage .nameBookMessage div #message {
  border: 0.3px solid rgb(192, 192, 192);
}
#comment .kkmkmmk #nameBookMessage .nameBookMessage div #bb {
  width: 80px;
  min-height: 40px;
  border: none;
  background-color: #7A4D9E;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Assistant;
}
#comment .kkmkmmk #nameBookMessage .nameBookMessage div #bb:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Wishlist {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://i.pinimg.com/564x/42/57/32/425732e7817b4ca776ebf2e8b8115998.jpg");
}
#Wishlist .Wishlist {
  width: 90%;
}
#Wishlist .Wishlist .myBox {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px 20px rgba(171, 171, 171, 0.3);
}
#Wishlist .Wishlist .myBox .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
#Wishlist .Wishlist .myBox .img img {
  width: 80%;
  height: 200px;
  border-radius: 10px;
  transition: transform 1s ease; /* Animasyon süresi ve geçiş tipi */
}
#Wishlist .Wishlist .myBox .img img:hover {
  transform: rotate(360deg); /* Hover durumunda resmi 45 derece döndürme */
}
#Wishlist .Wishlist .myBox .colll {
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 800;
}
#Wishlist .Wishlist .myBox .colll .details {
  min-height: 200px;
  width: 95%;
}
#Wishlist .Wishlist .myBox .colll .h5h5 {
  width: 60%;
  font-family: Assistant;
}
#Wishlist .Wishlist .myBox .colll .iii {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #FFC000;
}
#Wishlist .Wishlist .myBox .colll .discount {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  font-family: Assistant;
}
#Wishlist .Wishlist .myBox .colll .discount strong {
  font-weight: 800;
  color: #7A4D9E;
}
#Wishlist .Wishlist .myBox .colll .price {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  font-family: Assistant;
}
#Wishlist .Wishlist .myBox .colll .price strong {
  font-weight: 800;
  color: #7A4D9E;
}
#Wishlist .Wishlist .myBox .colll h4 {
  color: #7A4D9E;
  font-family: Assistant;
}
#Wishlist .Wishlist .myBox .colll .btn {
  width: 43%;
  display: flex;
  align-items: center;
  justify-content: end;
}
#Wishlist .Wishlist .myBox .colll .btn button {
  width: 80px;
  min-height: 35px;
  border: none;
  background-color: #7A4D9E;
  color: white;
  border-radius: 10px;
  font-family: Assistant;
  font-weight: 800;
}
#Wishlist .Wishlist .myBox .colll .btn button:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.05);
}
#Wishlist .Wishlist .myBox .button {
  width: 95%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: 0.2px solid rgb(182, 182, 182);
  margin-top: 20px;
}
#Wishlist .Wishlist .myBox .button button {
  width: 30%;
  min-height: 40px;
  border: none;
  background-color: #7A4D9E;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  font-family: Assistant;
  font-weight: 800;
}
#Wishlist .Wishlist .myBox .button button:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.05);
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  #Wishlist .Wishlist .myBox .img img {
    width: 100%;
    height: 170px;
  }
  #Wishlist .Wishlist .myBox .colll .details .iii {
    min-height: 30px;
    font-size: 10px;
  }
  #Wishlist .Wishlist .myBox .colll .details .btn {
    width: 60%;
  }
  #Wishlist .Wishlist .myBox .colll .details h4 {
    font-size: 30px;
  }
  #Wishlist .Wishlist .myBox .colll .details .price {
    font-size: 25px;
  }
}
@media screen and (max-width: 991px) and (min-width: 722px) {
  #Wishlist .Wishlist .myBox .img img {
    width: 100%;
    height: 150px;
  }
  #Wishlist .Wishlist .myBox .colll .details .iii {
    min-height: 30px;
    font-size: 10px;
  }
  #Wishlist .Wishlist .myBox .colll .details .btn {
    width: 67%;
  }
  #Wishlist .Wishlist .myBox .colll .details h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 721px) and (min-width: 542px) {
  #Wishlist .Wishlist .myBox .img img {
    width: 100%;
    height: 130px;
  }
  #Wishlist .Wishlist .myBox .colll .details .iii {
    min-height: 30px;
    font-size: 10px;
  }
  #Wishlist .Wishlist .myBox .colll .details .btn {
    width: 95%;
  }
  #Wishlist .Wishlist .myBox .colll .details h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 541px) and (min-width: 300px) {
  #Wishlist .Wishlist .myBox .img img {
    width: 100%;
    height: 100px;
  }
  #Wishlist .Wishlist .myBox .colll .details .iii {
    min-height: 30px;
    font-size: 10px;
  }
  #Wishlist .Wishlist .myBox .colll .details .btn {
    width: 100%;
  }
  #Wishlist .Wishlist .myBox .colll .details h4 {
    font-size: 15px;
  }
  #Wishlist .Wishlist .myBox .colll .details .price {
    font-size: 15px;
  }
}
#pro {
  width: 100%;
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pro .pro {
  width: 95%;
  padding-left: 20px;
}
#pro .pro #btn {
  border-radius: 10px;
  font-family: Assistant;
  background-color: #7A4D9E;
  color: white;
  font-weight: 800;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 130px;
  min-height: 35px;
  border: none;
}
#pro .pro #btn i {
  color: white;
  margin-left: 10px;
}
#pro .pro #btn:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.3);
}
#pro .pro #myBtn {
  border-radius: 10px;
  font-family: Assistant;
  background-color: #7A4D9E;
  color: white;
  font-weight: 800;
  margin-top: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 130px;
  min-height: 35px;
  border: none;
}
#pro .pro #myBtn i {
  color: white;
  margin-left: 10px;
}
#pro .pro #myBtn:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.3);
}
#pro .pro .prodacts {
  width: 100%;
  margin-bottom: 20px;
}
#pro .pro .prodacts .myBox {
  text-align: center;
  color: #7A4D9E;
  font-family: Assistant;
  margin-top: 20px;
}
#pro .pro .prodacts .myBox .div {
  width: 100%;
  border: 0.3px solid rgb(182, 182, 182);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
#pro .pro .prodacts .myBox .div:hover {
  transform: scale(1.1);
}
#pro .pro .prodacts .myBox .div img {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#pro .pro .prodacts .myBox .div div {
  margin-top: 10px;
  margin-bottom: 10px;
}
#pro .pro .prodacts .myBox .div div i {
  color: #FFC000;
  font-size: 10px;
}
#pro .pro .prodacts .myBox .div .button {
  width: 100px;
  min-height: 35px;
  border-radius: 10px;
  background-color: #7A4D9E;
  color: white;
  border: 2px solid white;
  margin-bottom: 10px;
}
#pro .pro .prodacts .myBox .div .button:hover {
  background-color: transparent;
  color: #7A4D9E;
  border: 2px solid #7A4D9E;
  transform: scale(1.1);
}
#pro .pro .prodacts .myBox .div .btn {
  border: none;
  color: red;
  font-size: 25px;
}
#pro .pro .prodacts .myBox .div .btn:hover {
  transform: scale(1.1);
  color: black;
}

#loginRegstr {
  width: 100%;
  min-height: 600px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loginRegstr .loginRegstr {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loginRegstr .loginRegstr .ggggg {
  width: 100%;
  background-color: transparent;
}
#loginRegstr .loginRegstr .ggggg .h2h2 {
  width: 100%;
}
#loginRegstr .loginRegstr .ggggg .h2h2 h2 {
  font-family: Assistant;
  font-weight: 800;
  color: #7A4D9E;
}
#loginRegstr .loginRegstr .ggggg label {
  color: #7A4D9E;
  font-family: Assistant;
  font-size: 25px;
}