*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#prodact{
    width: 100%;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-family: Assistant;
    color: #7A4D9E;
    #detailDiv{
        min-height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        .box{
            width: 100%;
            .imges{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 75%;
                    &:hover{
                        transform: scale(1.05); 
                    }
                }
            }
            .detailes{
                width: 100%;
                .iii{
                    width: 100%;
                    min-height: 80px;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    border-bottom: 0.3px solid rgb(182, 182, 182);
                    color: #FFC000;
                }
                .h5h5{
                    width: 60%;
                    min-height: 150px;
                    display: flex;
                    align-items: center;
                    color: black;
                    strong{
                        font-size: 30px;
                        color: #7A4D9E;
                        font-weight: 700;
                        font-family: Assistant;
                    }
                }
                .discount{
                    width: 100%;
                    min-height: 100px;
                    color: black;
                    display: flex;
                    align-items: center;
                    border-top: 0.3px solid rgb(182, 182, 182);
                    strong{
                        font-size: 30px;
                        color: #7A4D9E;
                        font-weight: 700;
                        font-family: Assistant;
                    }
                }
                .price{
                    width: 100%;
                    min-height: 100px;
                    color: black;
                    display: flex;
                    align-items: center;
                    border-top: 0.3px solid rgb(182, 182, 182);
                    strong{
                        font-size: 30px;
                        color: #7A4D9E;
                        font-weight: 700;
                        font-family: Assistant;
                    }
                }
                .button{
                    width: 100%;
                    min-height: 125px;
                    display: flex;
                    align-items: center;
                    button{
                        width: 80%;
                        min-height: 50px;
                        border: none;
                        background-color: #7A4D9E;
                        color: white;
                        font-size: 20px;
                        border-radius: 10px;
                        font-family: Assistant;
                        font-weight: 800;
                        &:hover{
                            background-color: transparent;
                            color: #7A4D9E;
                            border: 2px solid #7A4D9E;
                            transform: scale(1.05); 
                          }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) and (min-width: 992px){
    #prodact{
        #detailDiv{
            .box{
                .imges{
                    img{
                        width: 100%;
                    }
                }
                .detailes{
                    .iii{
                        min-height: 80px;
                        font-size: 10px;
                    }
                    .h5h5{
                        font-size: 20px;
                        min-height: 130px;
                        width: 100%;
                        strong{
                            font-size: 30px;
                        }
                    }
                    .discount{
                        font-size: 20px;
                        min-height: 90px;
                        strong{
                            font-size: 30px;
                        }
                    }
                    .price{
                        font-size: 20px;
                        min-height: 90px;
                        strong{
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px) and (min-width: 722px){
    #prodact{
        #detailDiv{
            .box{
                .imges{
                    img{
                        width: 100%;
                        height: 440px;
                    }
                }
                .detailes{
                    h3{
                        font-size: 30px;
                    }
                    .h5h5{
                        font-size: 10px;
                        min-height: 110px;
                        strong{
                            font-size: 20px;
                        }
                    }
                    .discount{
                        font-size: 10px;
                        min-height: 50px;
                        strong{
                            font-size: 20px;
                        }
                    }
                    .price{
                        font-size: 10px;
                        min-height: 50px;
                        strong{
                            font-size: 20px;
                        }
                    }
                    .button{
                        min-height: 50px;
                        button{
                            min-height: 30px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 721px) and (min-width: 542px){
    #prodact{
        #detailDiv{
            .box{
                .imges{
                    img{
                        width: 100%;
                        height: 500px;
                    }
                }
                .detailes{
                    .iii{
                        min-height: 50px;
                        font-size: 20px;
                    }
                    h3{
                        font-size: 25px;
                    }
                    .h5h5{
                        font-size: 10px;
                        min-height: 110px;
                        strong{
                            font-size: 20px;
                        }
                    }
                    .discount{
                        font-size: 10px;
                        min-height: 30px;
                        strong{
                            font-size: 20px;
                        }
                    }
                    .price{
                        font-size: 10px;
                        min-height: 30px;
                        strong{
                            font-size: 20px;
                        }
                    }
                    .button{
                        min-height: 50px;
                        font-size: 10px;
                        button{
                            min-height: 25px;
                        }
                    }
                }
            }
        }
    }
}
#pro{
    width: 100%;
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    .pro{
        width: 95%;
    padding-left: 20px;
    #btn{
      border-radius: 10px;
      font-family: Assistant;
      background-color: #7A4D9E;
      color: white;
      font-weight: 800;
      margin-top: 20px;
      box-shadow: 0 0 10px 10px rgba($color: #000000, $alpha: 0.1);
      width: 130px;
      min-height: 35px;
      border: none;
      i{
        color: white;
        margin-left: 10px;
      }
      &:hover{
        background-color: transparent;
        color: #7A4D9E;
        border: 2px solid #7A4D9E;
        transform: scale(1.3); 
      }
    }
    #myBtn{
      border-radius: 10px;
      font-family: Assistant;
      background-color: #7A4D9E;
      color: white;
      font-weight: 800;
      margin-top: 20px;
      box-shadow: 0 0 10px 10px rgba($color: #000000, $alpha: 0.1);
      width: 130px;
      min-height: 35px;
      border: none;
      i{
        color: white;
        margin-left: 10px;
      }
      &:hover{
        background-color: transparent;
        color: #7A4D9E;
        border: 2px solid #7A4D9E;
        transform: scale(1.3); 
      }
    }
    .prodacts{
      width: 100%;
      margin-bottom: 20px;
      .myBox{
        text-align: center;
        color: #7A4D9E;
        font-family: Assistant;
        margin-top: 20px;
        .div{
          width: 100%;
          border: 0.3px solid rgb(182, 182, 182);
          border-radius: 10px;
          background-color: white;
          box-shadow: 0 0 10px 10px rgba($color: #000000, $alpha: 0.1);
          &:hover {
            transform: scale(1.1); 
          }
          img{
            width: 100%;
            height: 180px;
            margin-bottom: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
          div{
            margin-top: 10px;
            margin-bottom: 10px;
            i{
              color: #FFC000;
              font-size: 10px;
            }
          }
          .button{
            width: 100px;
            min-height: 35px;
            border-radius: 10px;
            background-color: #7A4D9E;
            color: white;
            border: 2px solid white;
            margin-bottom: 10px;
            &:hover{
              background-color: transparent;
              color: #7A4D9E;
              border: 2px solid #7A4D9E;
              transform: scale(1.1); 
            }
          }
          .btn{
            border: none;
            color: red;
            font-size: 25px;
            &:hover{
              transform: scale(1.1); 
              color: black;
            }
          }
        }
      }
    }
    }
}